<div fxLayout="row" fxFlexOffset="10" fxFlex="80">
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
        <h1>Prihlásenie</h1>
        <div>
            <form (ngSubmit)="signIn()">
                <mat-form-field style="width: 100%;">
                    <mat-label for="name">Meno</mat-label>
                    <input matInput id="name" name="name" type="text" [(ngModel)]="name">
                </mat-form-field>
            
                <mat-form-field style="width: 100%;">
                    <mat-label for="pass">Heslo</mat-label>
                    <input matInput id="pass" name="pass" type="password" [(ngModel)]="password">
                </mat-form-field>
                <mat-error *ngIf="error">
                    {{error}}
                </mat-error>
                <button [disabled]="isLogging" 
                    mat-raised-button color="primary" 
                    type="submit" 
                    style="width: 100%;">
                    {{ isLogging ? 'Prihlasujem' : 'Prihlásiť sa'}}
                </button>
            </form>
        </div>
    </div>
</div>