<div fxLayout="row" fxFlexOffset="10" fxFlex="80">
<div fxLayout="column" fxLayoutAlign="center" fxFill>
    <h3>Užívateľia</h3>

    <mat-table fxFlex="80" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Meno </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.name}} 
            </mat-cell>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="rules">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Práva </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{getRoleForUser(element)}} 
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="getRecord(row)"
            [ngClass]="{'highlight': selectedRow == row}"
            style="cursor: pointer;"></mat-row>
    </mat-table>

    <div *ngIf="showForm" fxLayout='column'>
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">   
            <div *ngIf="!isEditing">
                <mat-form-field>
                    <mat-label for="username">Meno</mat-label>
                    <input matInput id="username" type="text" formControlName="username">
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label for="password">Heslo</mat-label>
                    <input matInput id="password" type="password" formControlName="password">
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-select formControlName="role" placeholder='Práva'>
                    <mat-option *ngFor="let role of getRoles()" [value]="role">
                        {{role}}
                      </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Uložiť</button>
            <button mat-raised-button (click)="showForm = false">Zrušiť</button>
        </form>
    </div>

    <div *ngIf="!showForm" fxLayout="row">
        <button mat-raised-button color="primary" (click)="showForAdding()">Pridať</button>
        <span fxFlex></span>
        <div *ngIf="selectedRow" fxLayout="row">
            <button mat-raised-button color="warn">Vymazať</button>
            <button mat-raised-button color="accent" (click)="showForEdit()">Zmeniť</button>
        </div>
    </div>
</div>
</div>