<div fxLayout="column" fxLayoutAlign="space-around center">
    <h5>Lokácie</h5>
    <mat-list role="list">
        <mat-list-item *ngFor="let loc of locations$ | async" 
            role="listitem"
            [class.active]="selectedLoc === loc"
            (click)="selectedLoc = loc">
            {{loc.name}}
        </mat-list-item>
        <mat-list-item>
            <input matInput type="text" (keyup.enter)="addLocation(newLocation)" [(ngModel)]="newLocation">
            <button (click)="addLocation(newLocation)">Pridať</button>
        </mat-list-item>
    </mat-list>
    <div *ngIf="selectedLoc">
        <input matInput type="text" (keyup.enter)="updateLocation(selectedLoc,updatedName)" [(ngModel)]="updatedName">
        <button>Premenovať</button>
    </div>
</div>