mat-list mat-list-item{
    cursor: pointer;
}

mat-list mat-list-item:hover{
    background: salmon;
}

mat-list mat-list-item.active{
    background-color: pink;
}

mat-list{
    width: 90%;
}

.button-container{
    width: 90%;
    margin-top: 10px;
}