<div fxLayout="row" fxFlexOffset="10" fxFlex="80">
    <div fxLayout="column" fxLayoutAlign="center" fxFill>
        <h2>Prehľad zápisov na zvolený dátum</h2>
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none center">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input (keyup.enter)="filterRecords()" placeholder="Meno/Lokácia" matInput [(ngModel)]="filter">
                <button matSuffix mat-button (click)="filterRecords()">
                    <mat-icon>search</mat-icon>
                </button>    
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Vyberte dátum</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
            <ng-container matColumnDef="locationName">
                <mat-header-cell *matHeaderCellDef> Lokácia </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Lokácia: </span>
                    {{element.location.name}} 
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="hunterName">
                <mat-header-cell *matHeaderCellDef> Polovník </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Polovník: </span>
                    {{element.hunter.name}} 
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="hunterHost">
                <mat-header-cell *matHeaderCellDef> Hosť </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label"> Hosť: </span>
                    {{element.guest}} 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef>Dátum a Čas</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Dátum a čas: </span>
                    {{asDateString(element)}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="note">
                <mat-header-cell *matHeaderCellDef> Poznámka </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Poznámka: </span>
                    {{element.note}} 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="huntingType">
                <mat-header-cell *matHeaderCellDef> Spôsob Polovania </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Spôsob Polovania: </span>
                    {{element.huntingType}} 
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="getRecord(row)"
                [ngClass]="{'highlight': selectedRow == row}"
                style="cursor: pointer;"></mat-row>
        </mat-table>

        <mat-paginator 
        [length]="dataSource.totalCount$ | async"
        [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> 

        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <button mat-raised-button color="primary" [routerLink]="['checkin']" routerLinkActive="router-link-active" >Zapísať sa</button>    
            <div *ngIf="canEdit(selectedRow)">
                <button mat-raised-button 
                    color="accent" 
                    [routerLink]="['edit']" 
                    routerLinkActive="router-link-active" 
                    style="margin-right: 10px;">Upraviť</button>
                <button mat-raised-button color="warn" (click)="deleteRecord(selectedRow)">Vymazať</button>
            </div>
        </div>

        <div *ngIf="selectedRow && selectedRow.catches">
            <app-catches-list [catches]="selectedRow.catches"></app-catches-list>
        </div>
    </div>
</div>