<div fxLayout="column" fxLayoutAlign="center center" *ngIf="record">
    <h2><p>Zmena zápisu</h2>
    <form [formGroup]="editForm" (ngSubmit)="save()" class="edit-form">

        <mat-form-field>
            <mat-label for="guest">Hosť</mat-label>
            <input matInput id="guest" name="guest" type="text" formControlName="guest">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="huntingType">Spôsob polovania</mat-label>
            <input matInput id="huntingType" name="huntingType" type="text" formControlName="huntingType">
        </mat-form-field>

        <mat-label style="margin-bottom: 5px;">Od:</mat-label>
        <mat-form-field>
            <mat-label>Dátum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Čas</mat-label>
            <input matInput type="time" formControlName="timeFrom">
        </mat-form-field>
        <mat-label style="margin-bottom: 5px;">Do:</mat-label>
        <mat-form-field>
            <mat-label>Dátum</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Čas</mat-label>
            <input matInput type="time" formControlName="timeTo">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label for="note">Poznámka</mat-label>
            <input matInput id="note" name="note" type="text" formControlName="note">
        </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z2" style="margin-bottom: 10px;">
            <h3>Úlovky</h3>
            <app-catches-list [catches]="record.catches"></app-catches-list>
            <button mat-button type="button" fxFill (click)="openCatchDialog()">Pridať úlovok</button>
        </div>

        <button [disabled]="hasErrors()" type="submit" mat-raised-button color="primary" fxFill>Zapísať</button>
    </form>
    <hr>
</div>