<div fxLayout="column" fxLayoutAlign="center center">
    <h2>Zápis novej polovačky</h2>
    <form [formGroup]="checkInForm" (ngSubmit)="save()" class="edit-form">

        <mat-form-field>
            <mat-select formControlName="location" placeholder="Lokácia">
                <mat-option *ngFor="let loc of locations$ | async" [value]="loc">
                  {{loc.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="guest">Hosť</mat-label>
            <input matInput id="guest" name="guest" type="text" formControlName="guest">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="huntingType">Spôsob polovania</mat-label>
            <input matInput id="huntingType" name="huntingType" type="text" formControlName="huntingType">
        </mat-form-field>
        <mat-label style="margin-bottom: 5px;">Od:</mat-label>
        <mat-form-field>
            <mat-label>Dátum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Čas</mat-label>
            <input matInput type="time" formControlName="timeFrom">
        </mat-form-field>
        <mat-label style="margin-bottom: 5px;">Do:</mat-label>
        <mat-form-field>
            <mat-label>Dátum</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Čas</mat-label>
            <input matInput type="time" formControlName="timeTo">
        </mat-form-field>

        <button 
            [disabled]="hasErrors()"
            type="submit" 
            mat-raised-button color="primary" 
            fxFill>
            Zapísať
        </button>
    </form>
</div>