<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
    <form (ngSubmit)="signIn()">
        <mat-form-field style="width: 100%;">
            <mat-label for="email">Meno</mat-label>
            <input matInput id="email" name="email" type="email" [(ngModel)]="email">
        </mat-form-field>
    
        <mat-form-field style="width: 100%;">
            <mat-label for="pass">Heslo</mat-label>
            <input matInput id="pass" name="pass" type="password" [(ngModel)]="password">
        </mat-form-field>
        <mat-error *ngIf="error">
            {{error}}
        </mat-error>
        <button mat-raised-button color="primary" type="submit" style="width: 100%;">Prihlásiť sa</button>
    </form>
</div>